/**  animation*/
@keyframes fadeslideIn {
  from {
    opacity: 0;
    transform: rotate(180deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  background: pink;

  display: none;   
  opacity: 0;
}

.container.show {
  display: block;
  animation: fadeslideIn 1s ease forwards;
}
.container video{
  width: 90%;          
  max-width: 500px;    
  margin: 20px auto;   
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  background: #f9f9f9;
    
}
.container audio{
  width: 100%;          
  max-width: 500px;   
  margin: 20px auto; 
}

body{
    text-align: center;
    background: linear-gradient(55deg,#999999ab,#55555572);
}
h3{
    font-size: 100px;
}
button{
    width:15%;
    height:30%;
    background: linear-gradient(45deg,pink,#b10f66ba);
    border-radius:20px;
    outline: none;
    border: none;
    font-family: sanserif;
    box-shadow: 10px 5px 20px black;
    
}
