#container{
    border: solid 3px black ;
    border-radius: 10%;
    width: 99%;
    height: 90%;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(pink,#fde4f2);
}
label{
background:#f4b8da;
 }  

button{
 width: 3.5rem;
    height: 2.1rem;
    border: none;
    outline:  none;
}
h3{
    text-align: center;
    color:#dd006494 ;
    width: 40%;
    height: 20%;
    justify-content: center;
    background: linear-gradient(pink,#fde4f2);
     border: solid 3px black ;
    border-radius: 10%;
}
h5{
    background: #fde4f2;
    width: 40%;
    
}
video,audio{
  display: none;
  width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 4px black solid;
  
}
form{
   display: flex;
    justify-content: center;
    align-items: center;
}
